<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
	<a th:href="@{/}">返回</a>
	<h1>奥丁</h1>
	<p>神话传说中，奥丁是一个独眼、白色长髯的神明，他头戴鹰盔及身披金甲，手持武器冈格尼尔长枪（Gungnir），手戴宝物德罗普尼尔金环（Draupnir），端坐在可以看到九大世界的至高王座（Hliðskjálf）。脚边是两头凶狼基利和库力奇（Geri and Freki），随时地为保护奥丁而准备着。肩膀上是两只乌鸦福金和雾尼（Hugin and Munin），它们会飞遍九大世界并返回向奥丁报告。当奥丁打算出行之时会身穿斗篷和宽帽子，骑上八足马斯莱普尼斯（Sleipnir）横跨天空甚至进入冥界。他偶尔会在英灵殿享受宴会，但从不进食，只是在喝酒</p>
</body>
</html>